[mysqld]
user=root

#외부 연결 아이피 0.0.0.0은 모든 ip를 허용하겠다는 것.
bind-address=0.0.0.0

port=3306

#1이면 로컬에서만 수신한다. 다른컨테이너에서도 접근해야 하므로 0으로 세팅해줌.
skip-networking=0

# 아래 데이터 dir 을 주지 않으면 mysql.plugin 어쩌구 테이블을 불러올수 없다는 에러가 뜬다.
# 어짜피 .yaml 에서 PV데이터저장 위치를 잡아줬기 때문에 맞춰줘야 할듯.
datadir=/var/lib/mysql
log-bin=/var/lib/mysql-bin
